@use '../variables';
.cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 40px;
  gap: 20px;
  max-height: 264px;
  box-sizing: border-box;


  &__title {
    font-size: 19px;
    font-weight: 700px;
  }
  &__content {
    font-size: 15px;
    font-weight: 400px;
  }
}

.about {
  &__item {
    background-color: variables.$color-grey;
    padding: 16px;
    grid-column: span 4;
  }
}

.app {
  &__item {
    grid-column: span 4;
    background-color: variables.$color-brand-tint;
    padding: 16px 0 16px 16px;
  }
  &__icon {
    width: 135px;
    height: 40px;
  }
  &__image {
    margin-top: 10px;
  }
}

.campaigns {
  &__item {
    background-color: variables.$color-grey;
    padding: 16px;
    grid-column: span 4;
    list-style-position: inside;
  }
  &__links {
    padding: 0;
  }
}
