@use '../variables';

.careers {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
  }
  &__adcontainer {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    align-items: center;
  }
  &__mpu {
    margin-top: 80px;
    max-width: 300px;
  }
  &__advertise {
    background:
      linear-gradient(rgba(52, 52, 51, 0.5), rgba(52, 52, 51, 0.5)),
      url('/public/images/advertise-bg.png') center center no-repeat;
    background-size: cover;
    padding: 24px;
    color: #fff;
    margin-top: 40px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__adheading {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 12px; 
  }

  &__adlist {
    width: 100%;
    padding: 0;
    list-style-position: inside; 
    margin-left: 0; 
    padding-left: 0; 
    font-size: 16px; 
  }
  &__btn {
    background-color: variables.$color-secondary; 
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    max-width: 118px;
  }
  &__featurecontainer {
    grid-column: span 8;
    margin-left: 10px;
  }
  &__feature {
    flex-direction: column;
    display: flex;
  }
  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }
  &__feature {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  &__feature-image {
    grid-column: span 4;
  }
  &__feature-text {
    grid-column: span 4;
  }
  &__feature-title {
    font-size: 21px;
    font-weight: 700;
  }
  &__feature-subtitle {
    font-size: 17px;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-column: span 8;
  margin-top: 40px;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__image {
    max-width: 100%;
  }

  .articles__title {
    font-size: 17px;
    font-weight: 700;
    margin-top: 12px;
  }
}
