.jobs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row: auto;
  &__container {
    grid-column: span 8;
  }
  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__list-item {
    height: 24px;
    padding: 5px;
  }
  &__list-item span {
    color: #9b9b9b;
    font-size: 13px;
    margin: 4px;
  }
  &__feature-container {
    grid-column: span 4;
  }
}
