<section aria-label="Section with featured careers advice">
    <div class="careers__container">
        <div class="careers__adcontainer">
            <img class="careers__mpu" src="public/images/mpu.png" alt="Ad Image">
             <div class="careers__advertise">
                <h3 class="careers__adheading">Advertise with us</h3>
                <ul class="careers__adlist">
                    <li>Post jobs and monitor your applications</li>
                    <li>Search our extensive candidate database</li>
                    <li>Filter applications with screening questions</li>
                </ul>
                <button class="careers__btn careers__btn-red">Post a job</button>
            </div>
        </div>
    </div>
</section>