<section aria-label="Section with featured careers advice">
    <div class="careers__container">
        <div class="careers__adcontainer">
            <img class="careers__mpu" src="public/images/mpu.png" alt="Ad Image">
            <div class="careers__advertise">
                <h3 class="careers__adheading">Advertise with us</h3>
                <ul class="careers__adlist">
                    <li>Post jobs and monitor your applications</li>
                    <li>Search our extensive candidate database</li>
                    <li>Filter applications with screening questions</li>
                </ul>
                <button class="careers__btn careers__btn-red">Post a job</button>
            </div>
        </div>
        <div class="careers__featurecontainer">
            <div class="careers__heading">
                <h2 class="u-margin-0">Careers advice</h2>
                <a class="u-margin-0">View all articles>></a>
            </div>
            <div class="careers__feature">
                <img class="careers__feature-image" src="public/images/_careers-advice/article1.png" alt="Featured Article Image"/>
                <div class="careers__feature-text">
                    <a class="careers__feature-title">An introduction into ecommerce and the mobile revolution</a>
                    <p class="careers__feature-subtitle">There are many ways to market a product or a service, and providing the potential
                        clients and customers with testimonials is one of the best ways to market.</p>
                </div>
                
            </div>
        </section>