<section class="hero">
    <h1>{{heroMessage}}</h1>
    <h2>{{heroSubheading}}</h2>
    <div class="hero__search">
        <form aria-label="search for jobs form" class="hero__search-form"></form>
    </div>
</section>