<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ title | default(pageTitle) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/styles.css"/> {% block head %}{% endblock %}
    </head>
    <body>
      {% block bodyStart %}{% endblock %}
      <div class="container">
        <p class="skip-to-content">
          <a accesskey="S" title="Access key: S" href="#main">Skip to main content</a>
        </p>
        {% block header %}
          <header>
            <div class="account-bar">
              <div class="wrapper">
                <div class="account-bar__inner">
                  <a href="#" id="visitPxlPro" aria-label="Visit PxlPro homepage">Visit PxlPro.com</a>
                  <div>
                    <a href="#" id="signin" aria-label="Sign into your PxlPro account">Sign in</a>
                    <a href="#" id="create-account" aria-label="Create a PxlPro acount" class="u-hide-x-small">Create account</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapper">
              <div class="page-header">
                <img src="{{ assetPath }}/images/logo.png" alt="Pxl Pro Jobs Logo" class="page-header__logo"> {% include 'includes/navigation.njk' %}
              </div>
            </div>
          </header>
        {% endblock %}
        {% block main %}
          <main role="main" class="main" id="main">
            {% block hero %}{% endblock %}
            <div class="wrapper">
              {% block content %}{% endblock %}
            </div>
            {% block cta %}
              {% include 'components/cta.njk' %}
            {% endblock %}
            {% include 'components/employers.njk' %}
            <div class="wrapper">
              {% include 'components/careers.njk' %}
              {% include 'components/about.njk' %}
            </div>
          </main>
        {% endblock %}
        {% block footer %}
          <footer class="footer">
            <div class="wrapper" ">
              <div class="footer__top">
                <nav class="footer__nav">
                  <a href="#" class="footer__link">Browse jobs</a>
                  <a href="#" class="footer__link">Search employers</a>
                  <a href="#" class="footer__link">Terms & Conditions</a>
                  <a href="#" class="footer__link">Privacy</a>
                  <a href="#" class="footer__link">About us</a>
                  <a href="#" class="footer__link">Contact us</a>
                </nav>
              </div>
              <div class="footer__bottom">
                <span>&copy; 2016. Powered by Madgex</span>
                <div>
                  <img class="footer__social-icons" src="public/images/_social/Facebook.svg" alt="Facebook">
                  <img class="footer__social-icons" src="public/images/_social/Twitter.svg" alt="Twitter">
                  <img class="footer__social-icons" src="public/images/_social/GooglePlus.svg" alt="Google Plus">
                  <img class="footer__social-icons" src="public/images/_social/LinkedIn.svg" alt="Linked in">
                </div>
              </div>
            </div>
          </footer>
        {% endblock %}
        {% block bodyEnd %}{% endblock %}
        <script src="/public/js/script.js"></script>
      </body>
    </body>
  </html>